/* =======================
    Start Global Variables
==========================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

:root{
    --main-color : rgb(209, 174, 111);
    --subMain-color : rgb(166 166 166);
    --main-font : 'Merriweather', serif;
    --secondery-font : 'Oswald', sans-serif;
}

.mainBut {
    width: 200px;
    height: 45px;
    font-size: 14px;
    font-family: 'Merriweather', serif;
    color: var(--main-color);
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    transition: .4s;
}

.mainBut:hover {
    color: white;
    background-color: var(--main-color);
}

@media (max-width: 500px) {
    .mainBut {
        width: 150px;
        height: 35px;
        font-size: 10px;
    }
}

/* =====================
    End Global Variables
========================*/



/* ==================
    Start App Section
=====================*/

.App {
    background-image: url(../images/background.jpeg);
    background-size: cover;
}

/* ================
    End App Section
===================*/